{% extends 'layout.html' %}
{% load static %}
 {% block extra_css %}
  
     {% endblock %}
<title>{% block title %}Student Registration{% endblock %}</title>


{% block content %}

<div class="page-transition ">
    <div class="container-box ">
        <h2>Student Registration</h2>
        <form method="POST">
            {% if email_exists %}
            <div class="alert alert-warning">⚠️ Email already exists.</div>
            {% endif %}

            {% csrf_token %}
            {% for field in form %}
            <div class="form-group mb-3">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                <div class="text-danger">{{ field.errors }}</div>
                {% endif %}
            </div>
            {% endfor %}
            <button type="submit">Register</button>
            <a href="{% url 'social:begin' 'google-oauth2' %}?next=/student/dashboard/" class="google-btn">
                <img style="" src="https://developers.google.com/identity/images/g-logo.png" alt="Google logo"
                    class="google-logo">
                Sign Up with Google
                </button>
            </a>

            <p>Already registered? <a href="{% url 'student_login' %}">Login</a></p>

    </div>
</div>
{% endblock %}
{% block footer %}
{% endblock%}
<!--  script block-->
{% block scripts %}
   <script src="{% static 'js/hamburger.js' %}"></script>
{% endblock %} 