{% extends 'layout.html' %}
{% load static %}

{% block title %}Admin Registration{% endblock %}

    {% block navbar %}
    <nav class="navbar">
           <div class="branding-text">
      <h1>XYZ College of Engineering, City</h1>
      <p>Online Student Counseling & Admission Portal</p>
    </div>
        <ul class="navlinks" id="navLinks">
           <li><a style="border:none; text-decoration: none;font-size:1.3rem;"href="{% url 'admin_home' %}">🎓 Student Counseling</a></li>
            <li><a href="{% url 'admin_home' %}" class="btn btn-outline-light">Home</a></li>
        <li><a href="{% url 'admin_login' %}" class="btn btn-outline-light">Admin login</a></li>
        </ul>
    </nav>
    {% endblock %}
{% block content %}
<div class="page-transition">
    <div class="container-box">
        <h2>Admin Signup</h2>

        {% if email_exists %}
        <div class="alert alert-warning">⚠️ Email already exists.</div>
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group mb-3">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                <div class="text-danger">{{ field.errors }}</div>
                {% endif %}
            </div>
            {% endfor %}

            <button type="submit" class="btn btn-primary">Register</button>
        </form>


        <p class="mt-3">Already registered? <a href="{% url 'admin_login' %}">Login</a></p>
    </div>
</div>
{% endblock %}

{% block footer %}
<footer class="footer">
      <p>&copy; 2025 Admin Portal</p>
    </footer>
    {% endblock %}

{% block scripts %}

{% endblock %}